/****************/
/* Landing Page */
/****************/


.landing {
  padding-left: 10%;
  padding-top: 10%;
  padding-right: 2%;
  width: 100vw;
  height: 100vh;
}
/*
.landing__info {
  width: 99em;
  height: 2em;
  margin-bottom: 10em;
}*/

/*.landing__row {
  padding-bottom: 13em;
}*/

.landing__title {
  border-bottom: 2px solid black;
  font-size: 6em;
}

.landing__item {
  font-size: 1.5em;
}

/**************/
/* Navigation */
/**************/


.navigation {
  margin-top: 28%;
}

.nav__item {
  list-style: none;
}

.nav__link {
  font-size: 1em;
  color: black;
  padding: 15px;
  font-weight: 600;
  font-size: 3em;
}

.nav__link:hover {
  transition: all 500ms ease;
  text-decoration: none;
  color: #fff;
  background: #0375B4;
}

/*********/
/* About */
/*********/


.about {
  background-color: #3b3a36;
  color: white;
  height: 100vh;
  width: 100vw;
}


/**************/
/*  Projects  */
/**************/


.projects {
  height: 100vh;
  width: 100vw;
}

/*************/
/*  Contact  */
/*************/


.contact {
  height: 100vh;
  width: 100vw;
  background-color: #26313E;
  background-color: #386DAD;
  color: #fff;
  text-align: justify;
  padding-left: 25%;
  padding-top: 10%;
}

.contact__title {
  border-bottom: 2px solid black;
}

.contact__image {
  width: 8%;
  height: 8%;
}

.contact__github {
  padding-bottom: 1%;
}

.contact__item {
  font-size: 3em;
  padding-left: 1%;
}


/* Mobile Functionality */

@media only screen and (max-width: 991px) {

  .landing {
    padding-left: 8%;
  }

  .navigation {
    margin-top: 8%;
  }

  .nav__link {
    padding: 10px;
  }

  .landing__cohort-info {
    display: none;
  }
}
