/*.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}
*/
/****************/
/* Landing Title */
/****************/


.landing {
  padding-left: 10%;
  padding-top: 40%;
  padding-right: 2%;
  height: 100vh;
}

.landing__title {
  font-size: 2em;
  border-bottom: 1px solid black;
}

/**********************/
/* Landing Navigation */
/**********************/


.navigation {
}

.nav__item {
  list-style: none;
}

.nav__link {
  color: black;

}

.nav__link:hover {
  transition: all 500ms ease;
  text-decoration: none;
  color: #fff;
  background: #0375B4;
}

/*********/
/* About */
/*********/

/*
.about {
  background-color: #3b3a36;
  color: white;
  height: 100vh;
  padding-left: 15px;
  padding-top: 3%;
  text-align: center;
}

.about__picture {
  width: 40%;
}
*/

/**************/
/*  Projects  */
/**************/


/*.projects {
  height: 100vh;
}*/

/*************/
/*  Contact  */
/*************/


/*.contact {
  height: 100vh;
  background-color: #26313E;
  background-color: #386DAD;
  color: #fff;
  text-align: justify;
}
*/



/* Mobile Functionality */
